body {
  /* colors */
  background-color: cornflowerblue;
  color: white;
}


.details {
  font-size: 20px;
}


.party-invite {
  /* colors */
  background-color: black;

  /* Flexbox */
  display: flex;
  flex-direction: column;

  /* alignment and width */
  text-align: center;
  max-width: 45ch;

  /* Box Model */
  padding: 2rem;
  margin: 2em auto;
}


.people {
  list-style: none;
}


button {
  /* colors and font */
  background-color: palevioletred;
  font-size: 18px;

  /* box model and width */
  margin: 0 auto;
  max-width: 20ch;
  padding: 0.5rem;
}

button:hover {
  background-color: white;
}

button:active {
  background-color: darkorange;
}


/* answer text color */
.answer {
  color: darkorange;
}